@font-face
  font-family "assembly-icons"
  src url('../fonts/assembly-icons.woff') format('woff'), url('../assembly-icons.ttf') format('truetype');

.icon
  font-family 'assembly-icons'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  font-smoothing antialiased

  &.dropdown-glyph
    color $gray
    top -1px

.icon-logo-filled:before
  content "\e61a"
